@import 'color';
@import 'mq';
.life {
    width: 100%;
    padding: calc((100% - 1200px) / 2);
     &__life-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10rem;
    }
    &__life-grid__life-grid-item__img{
        width: 100%;
    }
    &__life-grid__life-grid-item__span {
        display: block;
        margin-top: 2rem;
        font-size: 1.6rem;
        color: $lightash;
        font-family: 'Ubuntu', sans-serif;
    }
    &__life-grid__life-grid-item__h3 {
        font-size: 2.5rem;
        color: $ash;
        font-family: 'Playfair Display', serif;
        padding: 2rem 0;
    }
    &__life-grid__life-grid-item__p {
        font-size: 1.6rem;
        color: $ash;
        font-family: 'Playfair Display', serif;
        text-align:justify;
    }
  
}
.life {
    @include big-tab {
        padding: 2rem;
    }
}
.life__life-grid {
    @include tab {
        display: grid;
        grid-template-columns: 1fr; 
    }
}   